.App {
  text-align: center;
  display: flex;
  background-color: #191c22;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vh);
  color: white;
  overflow: hidden;
}

.buttons {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 5vh;
  max-width: 90%;
  margin: 1em;
}

.inputs {
  display: flex;
  border: 2px solid white;
  border-radius: 1em;
  align-items: center;
  height: 100%;
  margin: 0.3em;
}

.input {
  border: none;
  appearance: none;
  background-color: transparent;
  color: white;
  min-width: 0;
  text-align: center;
  outline: 0;
  padding: 0;
  width: 3em;
  letter-spacing: 3px;
  font-family: Dosis, monospace;
  font-size: 0.8em;
  font-weight: 600;
}

.separator {
  font-size: 0%;
  font-weight: 600;
}

.btn {
  border: 2px solid white;
  border-radius: 20em;
  background: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3em;
  outline: 0;
  font-family: Inconsolata, monospace;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  padding: 1em;
  height: 100%;
  
}

.btn:active {
  box-shadow: 0 0 20px white, inset 0 0 10px white;
}

.full-watch {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.spiners-relative {
  width: 30vh;
  height: 30vh;
  position: relative; 
  top: 50%;
  left: 50%;
  margin-top: -20vh;
  margin-left: -15vh;
}

.watch {
  /* color: #e8c22d; */
  /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.453); */
  font-family: Dosis, monospace;
  font-weight: 400;
  align-items: center;
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2vh;
  width: 4vh;
  margin-top: -6vh;
  margin-left: -2vh;
  letter-spacing: 0.1em;
}

.spiner-1, .spiner-2, .spiners-absolute {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -13rem;
  margin-left: -13rem;
  height: 26rem;
  width: 26rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.quote {
  /* color: #e8c22d; */
  font-family: Inconsolata, monospace;
  font-size: 0.9em;
  /* font-style: italic; */
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  padding: 0 2em;
}

/* 🎬 ANIMAÇÕES */

@media (prefers-reduced-motion: no-preference) {
  .spin-1 {
    animation: spiner-1-spin infinite 10s linear;
  }
  .spin-2 {
    animation: spiner-2-spin infinite 10s linear;
  }
  .counting {
    animation: fade infinite 1s linear;
  }
  .quote {
    animation: fade infinite 6s linear;
  }
}

@keyframes spiner-1-spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes spiner-2-spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }  
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0.5;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
